@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Roboto","sans-serif";
    --breakpoint-3xl: 1920px;
    --color-primary:#8b7cf5;
    --color-first:#B5FFDE,
    --color-second:#CFCFFF,
    --color-third:#CFE5FF,
}   

@layer base{
    html{
        font-family: var(--font-display);

    }
    body{
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

.input-box{
    @apply  flex justify-between gap-4 text-sm  text-black  rounded-2xl px-4 py-3 mb-5 mt-3 border-1 border-slate-500 outline-none ;

}

.btn-primary{
    @apply w-3/4 mx-auto block text-sm font-medium text-white bg-slate-700/90 shadow-lg shadow-purple-600/5 p-[10px] rounded-2xl my-1 hover:bg-white/40 hover:outline-2 hover:text-purple-800;
}

.card {
    @apply bg-white p-6 rounded-2xl shadow-md  border border-slate-500/50;
}

.card-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-white bg-gray-50 hover:bg-slate-400 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
}

.add-btn{
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-slate-600 whitespace-nowrap bg-slate-100 border border-slate-200 rounded-lg px-4 py-2 cursor-pointer;
}

.add-btn-fill{
    @apply text-white bg-slate-600
}